body {
	background: #f4f7f6;
}

#formDiv {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
  	font-size: 1.6vw;
  	margin-top: 10%;
}

input {
	width:20vw !important;
}

#registrationForm {
	padding: 2.8vw;
	padding-bottom: 1.6vw;
	text-align:center;
}

#fields div {
	float: left;
}

#leftSide {
	width: 45%;
	margin-left: 8%;
}

#separator {
	width: 10% !important;
}

#rightSide {
	width: 45%;
}

button[type="submit"] {
	width: 50%;
}

#logButton {
	font-size: 1.4vw;
	font-style: italic;
}
