body {
	background: #0D63FF;
}

#formDiv {
	margin: 0;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
  	border-radius: 4vw 1.6vw;
  	font-size: 1.6vw;
}

#registrationForm {
	padding: 2.8vw;
	padding-bottom: 1.6vw;
}

#fields div {
	float: left;
}

#leftSide {
	width: 45%;
}

#separator {
	width: 10% !important;
}

#rightSide {
	width: 45%;
}

button[type="submit"]{
	width: 50%;
	margin-left: 25%;
	background: #0D63FF;
	color: white;
  	font-size: 1.6vw;
  	border: 0.16vw solid #B27A00;
}

button[type="button"]{
	margin-left: 42%;
	background: none;
	color: white;
  	font-size: 1.4vw;
  	margin-top: 0.8vw;
  	font-style: italic;
}

#background-img{
	margin: 0;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}	
