body {
	background: #f4f7f6;
}

#topMenu {
	display: flex;
}

#tabsDiv {
	width: 90%;
	margin-top: 1%;
	margin-left: auto;
	margin-right:auto;
	display: block;
}

a[data-toggle="tab"] {
	font-size: 1.3vw;
	color:black;
}

#profileContent {
	width: 86%;
	margin-left: 5%;
	display: flex;
	margin-top: 10%;
}

#userImgDiv {
	width: 40%;
	height: 50%;
}

#userImg {
	width: 50%;
	margin-left: 15%;
	margin-top: 2%;
}

#profileEdit {
	width: 50%;
	margin-top: -6%;
}

#saveChanges {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#email {
	text-align: center;
}

#airlinesTableDiv, #hotelsTableDiv, #rentACarsTableDiv, #discountsDiv {
	width: 70%;
	height: 30vw;
	margin-top: 1%;
	margin-left: auto;
	margin-right:auto;
	display: block;
	padding: 2vw;
	text-align: center;
}

#serviceDiv, #addServiceDiv {
	margin: 0;
	background: #f4f7f6;
}

#mapDiv {
	width: 21vw;
	height: 21vh;
	border-radius: 2vw 2vw 2vw 2vw;
}

#serviceName {
	background-color: #f4f7f6;
}

#serviceDescription {
	background-color: #f4f7f6;
}

#serviceTable td, #addServiceTable td {
	padding: 30px;
	text-align: center;
}

#serviceTable, #addServiceTable {
	margin: auto;
}

.modal-content {
	overflow-y: auto;
}

#newServiceName {
	font-size: 1.6vw;
}

/* Discounts tab */
#discountsDiv {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
}

#editDiscountInfoTable { 
    border-spacing: 2vw;
    border-collapse: separate;
}

#editDiscountInfoTable label {
	font-size: 1.5vw;
}

td > #discountButt {
	margin: 0;
}

/* New admin registration */

#formDiv {
	background: #f4f7f6;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#registrationForm {
	padding: 2.8vw;
	padding-bottom: 1.6vw;
}

.input-field input {
	width:20vw !important;
}

#fields {
	display: flex;
}

#leftSide {
	width: 45%;
}

#separator {
	width: 10% !important;
}

#rightSide {
	width: 45%;
}

#registerNewAdmin {
	margin-left: auto;
	margin-right:auto;
	display:block;
}

#userEditForm input {
	width:40vw;
}

#discountButt {
	margin-top:10%;
}

#addServiceTable {
	width: 100%
}

textarea {
	height: 100px;
	max-height: 100px;
	resize: none;
	overflow-y: auto;
}

#newServiceMapDiv {
	width: 25vw;
	height: 21.5vh;
	border-radius: 2vw 2vw 2vw 2vw;
}

.star-ratings-sprite {
	background:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
		repeat-x;
	/*font-size: 0;*/
	height: 21px;
	line-height: 0;
	overflow: hidden;
	text-indent: -110em;
	width: 110px;
	margin: 0 auto;
}

.star-ratings-sprite-rating {
	background:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
		repeat-x;
	background-position: 0 100%;
	float: left;
	height: 21px;
	display: block;
}
