body {
	background: #0D63FF;
}

#topMenu {
	display: flex;
}

#tabsDiv {
	width: 90%;
	margin-top: 1%;
	margin-left: 5%;
}

a[data-toggle="tab"] {
	border-radius: 2vw 2vw 0vw 0vw !important;
	background: #5994FF;
	border: 0.18vw solid #B27A00 !important;
	font-size: 1.3vw;
	color: white;
}

#logout {
	width: 10%;
	margin-right: 0% !important;
	background: none;
	color: white;
	font-size: 1.4vw;
	margin-top: 0.8vw;
	font-style: italic;
	text-decoration: underline;
}

#profileContent {
	width: 86%;
	margin-left: 5%;
	display: flex;
	margin-top: 10%;
}

#userImgDiv {
	width: 40%;
	height: 50%;
}

#userImg {
	width: 50%;
	margin-left: 15%;
	margin-top: 2%;
}

#profileEdit {
	width: 50%;
	margin-top: -6%;
}

#saveChanges {
	margin-left: auto;
	margin-right: auto;
	display: block;
	background: #5994FF;
	color: white;
	font-size: 1.6vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}

#email {
	text-align: center;
}

#airlinesTableDiv, #hotelsTableDiv, #rentACarsTableDiv {
	width: 70%;
	height: 30vw;
	margin-left: 13%;
	margin-top: 5%;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
	margin-left: 13%;
	padding: 2vw;
}

#serviceDiv, #addServiceDiv {
	margin: 0;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
}

#mapDiv {
	width: 21vw;
	height: 21vh;
}

#serviceName {
	background-color: #5994FF;
}

#serviceDescription {
	background-color: #5994FF;
}

#serviceTable td, #addServiceTable td {
	padding: 30px;
	text-align: center;
}

#serviceTable table, #addServiceTable table {
	margin: auto;
}

.textInput {
	border: none;
	resize: none;
}

.textInput:focus {
	border: 1px solid black;
	resize: none;
}

.modal-content {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}

#serviceName, #newServiceName {
	font-size: 1.6vw;
}

/*
* New admin registration
*/
#formDiv {
	margin: 0;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
}

#registrationForm {
	padding: 2.8vw;
	padding-bottom: 1.6vw;
}

#fields div {
	float: left;
}

#leftSide {
	width: 45%;
}

#separator {
	width: 10% !important;
}

#rightSide {
	width: 45%;
}

#registerNewAdmin {
	margin-left: 25%;
	margin-right: 25%;
	background: #0D63FF;
	color: white;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}

/* New service registration */
.addServiceButton {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2vh;
	display: block;
	background: #5994FF;
	color: white;
	font-size: 1.6vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}

#newServiceName {
	background-color: #77a7ff;
}

#newServiceDescription {
	background-color: #77a7ff;
}

#addServiceTable {
	width: 100%
}

#newServiceMapDiv {
	width: 25vw;
	height: 21.5vh;
}