body {
	background: #f4f7f6;
}

#topMenu {
	display: flex;
}

#tabsDiv {
	width: 90%;
	margin-top: 1%;
	margin-left: auto;
	margin-right:auto;
	display: block;
}

a[data-toggle="tab"] {
	font-size: 1.3vw;
	color:black;
}

#profileContent {
	width: 86%;
	margin-left: 5%;
	display: flex;
	margin-top: 10%;
}

#userImgDiv {
	width: 40%;
	height: 50%;
}

#userImg {
	width: 50%;
	margin-left: 15%;
	margin-top: 2%;
}

#profileEdit {
	width: 50%;
	margin-top: -6%;
}

#saveChanges {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#email {
	text-align: center;
}

#airlinesTableDiv, #hotelsTableDiv, #rentACarsTableDiv, #discountsDiv {
	width: 70%;
	height: 30vw;
	margin-top: 5%;
	margin-left: auto;
	margin-right:auto;
	display: block;
	padding: 2vw;
}

#serviceDiv, #addServiceDiv {
	margin: 0;
	background: #f4f7f6;
}

#mapDiv {
	width: 21vw;
	height: 21vh;
	border-radius: 2vw 2vw 2vw 2vw;
}

#serviceName {
	background-color: #f4f7f6;
}

#serviceDescription {
	background-color: #f4f7f6;
}

#serviceTable td, #addServiceTable td {
	padding: 30px;
	text-align: center;
}

#serviceTable, #addServiceTable {
	margin: auto;
}

.modal-content {
	overflow-y: auto;
}

#serviceName, #newServiceName {
	font-size: 1.6vw;
}

/* Discounts tab */
#editDiscountInfoTable {
	width: 100%;
}

#kmsNeededForPoint, #discountPercentagePerPoint, #maxDiscountPoints, #discountPerExtraReservation {
	font-size: 1.6vw;
	margin-left: 3vw;
}

label[for=kmsNeededForPoint], label[for=discountPercentagePerPoint], label[for=maxDiscountPoints], label[for=discountPerExtraReservation] {
	font-size: 1.6vw;
	margin-left: 10vw;
}

/*
* New admin registration
*/
#formDiv {
	margin: 0;
	background: #f4f7f6;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
}

#registrationForm {
	padding: 2.8vw;
	padding-bottom: 1.6vw;
}

#fields div {
	float: left;
}

#leftSide {
	width: 45%;
}

#separator {
	width: 10% !important;
}

#rightSide {
	width: 45%;
}

#registerNewAdmin {
	margin-left: 25%;
	margin-right: 25%;
	background: #f4f7f6;;
	color:black;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}

/* New service registration */
.addServiceButton {
	margin-left: auto;
	margin-right: auto;
	display: block;
}


#addServiceTable {
	width: 100%
}

textarea {
	height: 100px;
	max-height: 100px;
	resize: none;
	overflow-y: auto;
}

#newServiceMapDiv {
	width: 25vw;
	height: 21.5vh;
	border-radius: 2vw 2vw 2vw 2vw;
}

.star-ratings-sprite {
	background:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
		repeat-x;
	/*font-size: 0;*/
	height: 21px;
	line-height: 0;
	overflow: hidden;
	text-indent: -110em;
	width: 110px;
	margin: 0 auto;
}

.star-ratings-sprite-rating {
	background:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
		repeat-x;
	background-position: 0 100%;
	float: left;
	height: 21px;
	display: block;
}