body {
	background: #0D63FF;
}

#content {
	width: 70% !important;
	height: 30vw !important;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
  	border-radius: 4vw 1.6vw;
  	font-size: 1.6vw;
  	padding: 1.6vw;
  	text-align: center;
}

#invButton {
	color: white;
	font-size: 1vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}

.btn-default {
	background: #5994FF;
}

#invStatus {
	display: flex;
}