body {
	background: #f4f7f6;
}

.modal-body, .modal-header {
	background: #f4f7f6;	
}

#content {
	width: 70% !important;
	height: 30vw !important;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	background: #f4f7f6;
  	font-size: 1.6vw;
  	padding: 1.6vw;
  	text-align: center;
}

#invButton {
	color: white;
	font-size: 1vw;
}

#invStatus {
	display: flex;
}