body {
	background: #0D63FF;
}

/* MENU */

#topMenu {
	display: flex;
}

#tabsDiv {
	width: 85%;
	margin-top: 1%;
	margin-left: 5%;
}

#logout {
	width: 10%;
	margin-right: 0% !important;
	background: none;
	color: white;
	font-size: 1.4vw;
	margin-top: 0.8vw;
	font-style: italic;
	text-decoration: underline;
}

a[data-toggle="tab"] {
	border-radius: 2vw 2vw 0vw 0vw !important;
	background: #5994FF;
	border: 0.18vw solid #B27A00 !important;
	font-size: 1.3vw;
	color: white;
}

/* BASIC INFO */

#basicInfo {
	text-align: center;
	padding-bottom: 3vw;
	width: 50%;
    margin-left: 25%;
}

#hotelName{
	background-color: #0D63FF;
    color: white;
    text-align: center;
    font-size: 4.5vw;
    width: 100%;
}

.textInput{
	border: none;
	resize: none;
}
.textInput:focus{
	border: 1px solid black;
	resize: none;
}

#averageGrade {
	color:white;
	font-size: 1.5vw;
}

#descriptionDiv {
	width: 100%;
	height: 75%;
	text-align:center;
}

#hotelDescription {
	background-color: #0D63FF;
	color:white;
	font-size: 1.5vw;
	width: 100%;
}

.map {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 65vw;
	height: 30vw;
	border-radius: 2vw 2vw 2vw 2vw;
}

#saveChangesBasic {
	margin-left: auto;
	margin-right: auto;
	display: block;
	background: #5994FF;
	color: white;
	font-size: 1.6vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
	margin-top: 1%;
	margin-bottom: 2vw;
}

/* MODAL */

.modal-content {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}

/* PROFILE */

#profileContent {
	width: 86%;
	margin-left: 5%;
	display: flex;
	margin-top: 10%;
}

#userImgDiv {
	width: 40%;
	height: 50%;
}

#userImg {
	width: 50%;
	margin-left: 15%;
	margin-top: 2%;
}

#profileEdit {
	width: 50%;
	margin-top: -6%;
}

.btn-default {
	margin-left: auto;
	margin-right: auto;
	display: block;
	background: #5994FF;
	color: white;
	font-size: 1.6vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}

#email {
	text-align: center;
}

.dialogStyle {
	background: #0D63FF;
	text-align: center;
}

#airlineName{
	background-color: #0D63FF;
}

#airlineDescription{
	background-color: #0D63FF;
}

.textInput{
	border: none;
	resize: none;
}
.textInput:focus{
	border: 1px solid black;
	resize: none;
}

/* TABLES */


.tableDiv {
	width: 70%;
	height: 30vw; margin-left : 13%;
	margin-top: 5%;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 2vw;
}

.tableButtons {
	padding: 2vw;
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* HOTEL ROOM MODAL */
#showHotelRoomDiv{
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
}
.showHotelRoomInnerDiv{
	margin: 2vw;
	padding: 2vw;
	border: 0.18vw solid #B27A00;
	border-radius: 4vw 1.6vw;
}
.showHotelRoomTable {
	margin:auto;
}
.showHotelRoomTable td {
	padding: 2vw;
	text-align: center;
}
.showHotelRoomTable label{
	margin: 2vw;
}

/* NEW ROOM MODAL */
#newHotelRoomDiv{
	margin: 0;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
}
#newHotelRoomTable{
	margin:auto;	
}
#newHotelRoomTable td {
	padding: 30px;
	text-align: center;
}
#addHotelRoomButton {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2vh;
	display: block;
	background: #5994FF;
	color: white;
	font-size: 1.6vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}
