body {
	background: #0D63FF;
}

#topMenu {
	display: flex;
}

#tabsDiv {
	width: 90%;
	margin-top: 1%;
	margin-left: 5%;
}

a[data-toggle="tab"] {
	border-radius: 2vw 2vw 0vw 0vw !important;
	background: #5994FF;
	border: 0.18vw solid #B27A00 !important;
	font-size: 1.3vw;
	color: white;
}

#logout {
	width: 10%;
	margin-right: 0% !important;
	background: none;
	color: white;
	font-size: 1.4vw;
	margin-top: 0.8vw;
	font-style: italic;
	text-decoration: underline;
}

#profileContent {
	width: 86%;
	margin-left: 5%;
	display: flex;
	margin-top: 10%;
}

#userImgDiv {
	width: 40%;
	height: 50%;
}

#userImg {
	width: 50%;
	margin-left: 15%;
	margin-top: 2%;
}

#profileEdit {
	width: 50%;
	margin-top: -6%;
}

#saveChanges, #searchFlights, #searchHotelsButton, #searchRoomsButton,
	#nextButtonFlights, #nextButtonFlightsStep, #nextButtonFlightsFriends,
	#nextButtonFlightsLast {
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: white;
	font-size: 1.6vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}

#searchVehiclesButton {
	color: white;
	font-size: 1.6vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}

#reserveButton {
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: white;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}

#nextButtonFlights {
	position: absolute;
	top: 88%;
	left: 76%;
}

#nextButtonFlightsFriends {
	position: relative;
	margin-left: 90%;
	margin-bottom: 5%;
}

#nextButtonFlightsLast {
	position: relative;
	margin-left: 80%;
	margin-bottom: 5%;
}

#email {
	text-align: center;
}

#reservationCart {
	width: 17.5vw;
	height: 17.5vw;
	position: fixed;
	right: 0;
	top: 9.5vw;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 4vw;
	padding: 2vw;
	overflow: auto;
}

#friendsTableDiv {
	width: 70%;
	height: 30vw;
	margin-left: 13%;
	margin-top: 5%;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
	margin-left: 13%;
	padding: 2vw;
}

#reservationsTableDiv {
	width: 70%;
	height: 30vw;
	margin-left: 13%;
	margin-top: 5%;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
	margin-left: 13%;
	padding: 2vw;
}

.front-indicator {
	width: 100px;
	margin-bottom: 25px;
	margin-left: 18px;
	background-color: #f6f6f6;
	color: #adadad;
	text-align: center;
	border-radius: 5px;
	font-size: 1vw;
}

.booking-details {
	float: left;
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	height: 401px;
	color: white;
}

.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}

.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}

div.seatCharts-cell {
	color: #182C4E;
	height: 20px !important;
	width: 20px !important;
	line-height: 20px !important;
}

div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;
}

div.seatCharts-row {
	height: 35px;
}

div.seatCharts-seat.available {
	background-color: #B9DEA0;
}

div.seatCharts-seat.available.first-class {
	/* 	background: url(vip.png); */
	background-color: #39CCCC !important;
}

div.seatCharts-seat.available.economy-class {
	background-color: #FF851B !important;
}

div.seatCharts-seat.available.business-class {
	background-color: #00d33b !important;
}

div.seatCharts-seat.available.blank-class {
	/* 	background: url(vip.png); */
	background-color: white !important;
}

div.seatCharts-seat.focused {
	background-color: #76B474 !important;
}

div.seatCharts-seat.selected {
	background-color: #E6CAC4 !important;
}

div.seatCharts-seat.unavailable {
	background-color: #472B34 !important;
}

div.seatCharts-container {
	border-right: 1px dotted #adadad;
	width: 200px;
	padding: 20px;
	float: left;
}

div.seatCharts-legend {
	padding-left: 0px;
	position: absolute;
	bottom: 100px;
	left: 325px;
	width: 200px;
	color: white;
}

ul.seatCharts-legendList {
	padding-left: 0px;
}

span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
}

input, button {
	color: black;
}

#planeSeats {
	margin: 0 auto;
	width: 650px;
	text-align: left;
}

#selected-seats {
	max-height: 150px;
	overflow: auto;
}

.cancel-cart-item {
	border-radius: 0 !important;
	background: none !important;
	border: none !important;
	font-size: 15px;
}

#showFlightTable, #passengersTable, #showReservationTable, #showHotelReservationTable, #showCarReservationTable, #discountTable {
	text-align:left;
	color:white;
	margin: 0 auto;
}
#showFlightTable tbody, #passengersTable tbody, #showReservationTable tbody, 
	#showHotelReservationTable tbody, #showCarReservationTable tbody, #discountTable tbody {
	overflow-y : auto;
}
#showFlightTable td, #passengersTable td, #showReservationTable td, #showHotelReservationTable td, #showCarReservationTable td, #discountTable td {
	padding: 5px;
}

#searchUsersButton {
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: white;
	font-size: 1.6vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
	margin-top: 1%;
	margin-bottom: 2vw;
}

.btn-default {
	background: #5994FF;
}

.modal-content {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}

#serviceDiv {
	margin: 0;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
	height: 50vh;
}

#searchUserForm {
	text-align: center;
	margin-top: 3%;
	color: white;
}

#submitButton {
	color: white;
	font-size: 1.6vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
	margin-left: 3%;
}

#usersDiv {
	margin-left: 3%;
	margin-right: 3%;
}

#sendInvButton, #cancelResButton {
	color: white;
	font-size: 1vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}

#invFriendStatus {
	display: flex;
}

#searchFlightsDiv {
	width: 70%;
	height: 90vh;
	margin-left: 13%;
	margin-top: 5%;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
	margin-left: 13%;
	padding: 2vw;
}

#serviceTable, #cartTable {
	text-align: left;
	color: white;
	margin: 0 auto;
}

#serviceTable {
	margin-top: 5%;
}

#serviceTable tbody, #cartTable tbody {
	overflow-y: auto;
}

#serviceTable td {
	padding: 5px;
}

#cartTable {
	height: 100%;
	overflow: auto;
}

input, select {
	color: black;
}

/* HOTELS */
#searchHotelsDiv, #searchCarsDiv {
	width: 70%;
	height: 38vw;
	margin-left: 13%;
	margin-top: 5%;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
	margin-left: 13%;
	padding: 2vw;
}

#searchCarsDiv {
	height: 50vw;
}

#hotelsSearchTable {
	text-align: left;
	color: white;
	margin: 0 auto;
}

#hotelsSearchTable tbody {
	overflow-y: auto;
}

#hotelsSearchTable td {
	padding: 5px;
}

#showHotelDiv, #showFlightDiv, #showAirlineDiv, #showReservationDiv {
	margin: 0;
	background: #5994FF;
	border: 0.24vw solid #B27A00;
	border-radius: 4vw 1.6vw;
}

#hotelMapDiv, #airlineMapDiv, #destinationsMapDiv {
	width: 45vw;
	height: 30vh;
	border-radius: 2vw 2vw 2vw 2vw;
}

#hotelName {
	background-color: #5994FF;
	font-size: 1.6vw;
}

#hotelDescription {
	background-color: #5994FF;
}

#showHotelTable>tbody>tr>td {
	padding: 30px;
	text-align: center;
}

#hotelRoomsSearchTable>tbody>tr>td {
	padding: 30px;
	text-align: center;
}

#showHotelTable {
	margin: auto;
}

#showAirlineTable>tbody>tr>td {
	padding: 30px;
	text-align: center;
}

#showAirlineTable {
	margin: auto;
}

/* hotels reservations */
.reservedAdditionalService td {
	background-color: #00ff00 !important;
}

/* CARS */
.textInput {
	border: none;
	resize: none;
	text-align: center;
}

#reserveDivFriends {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

#reserveDivPassengers {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

#yearOfProductionDatepicker {
	width: 260px;
	max-width: 260px;
}

#searchCarsTable, #reserveCarsTable {
	border-spacing: 1.5vw;
	border-collapse: separate;
}

#searchVehiclesButton {
	width: 100%;
}

#searchCars {
	padding-bottom: 2vw;
}

#searchVehiclesButton {
	width: 100%;
}

/* BIG MODAL */
@media ( min-width : 768px) {
	.modal-xl {
		width: 90%;
		max-width: 1200px;
	}
}

.modal-header {
	text-align: center;
	color: white;
}

.searchLabel {
	color: white;
}

.reserve {
	background-color: white;
	color: black;
}

.modal-body, .modal-header {
	background: #548cf1;
}

#rvButton {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: white;
	font-size: 1.6vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}

#airlineDescription {
	background-color: transparent;
	text-align: left;
	color: white;
}

#airlineGrade {
	color: white;
}

#airlineName {
	color: white;
	font-size: 4.5vw;
	text-align: center;
	background-color: transparent;
}

.retTripSrc {
	display: none;
}

.star-ratings-sprite {
	background:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
		repeat-x;
	/*font-size: 0;*/
	height: 21px;
	line-height: 0;
	overflow: hidden;
	text-indent: -110em;
	width: 110px;
	margin: 0 auto;
}

.star-ratings-sprite-rating {
	background:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
		repeat-x;
	background-position: 0 100%;
	float: left;
	height: 21px;
	display: block;
}

#confirmReservationButton {
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 3vh;
 	display: block;
 	color: white;
	font-size: 1.6vw;
	border: 0.16vw solid #B27A00;
	border-radius: 2vw 2vw 2vw 2vw;
}

