body {
	background: #0D63FF;
}

#overlayDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #536675;
    opacity: 0.6;
    z-index: 1;
}

#modalDialog {
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 45vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    height: auto;
    width: auto;
    background-color: rgb(255,255,255);
    padding: 30px;
    z-index: 1;
}


#formDiv {
	margin: 0;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #5994FF;
	border: 0.24vw solid #B27A00;
  	border-radius: 4vw 1.6vw;
  	font-size: 1.6vw;
}

form{
	padding: 2.8vw;
	padding-bottom: 1.6vw;
}

button[type="submit"]{
	width: 27.5%;
	background: #0D63FF;
	color: white;
  	font-size: 1.6vw;
  	border: 0.16vw solid #B27A00;
  	margin-bottom: 1%;
}

button[type="button"]{
	margin-left: 23%;
	background: none;
	color: white;
  	font-size: 1.6vw;
  	margin-top: 0.8vw;
}

#background-img{
	margin: 0;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

#mapDiv {
	width: 30vw; 
	height: 30vh;
}

#airlineName{
	background-color: #5994FF;
}

#airlineDescription{
	background-color: #5994FF;
}

#formTable td{
	padding: 30px;
	text-align: center;
}

#formTable table{
	margin:auto;
}

.textInput{
	border: none;
	resize: none;
}
.textInput:focus{
	border: 1px solid black;
	resize: none;
}
#addQuickReservationButton {
	width: 32.5% !important;
}

/* PLANE SEATS CSS */
a {
	color: #b71a4c;
}
.front-indicator {
	width: 100px;
	margin-bottom: 25px;
	margin-left: 18px;
	background-color: #f6f6f6;	
	color: #adadad;
	text-align: center;
	border-radius: 5px;
	font-size: 1vw;
}
#planeSeatsTable {
	margin: 0 auto;
	width: 500px;
	text-align: left;
}
.booking-details {
	float: left;
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	height: 401px;
}
.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 20px !important;
	width: 20px !important;
	line-height: 20px !important;
	
}
div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;	
}
div.seatCharts-row {
	height: 35px;
}
div.seatCharts-seat.available {
	background-color: #B9DEA0;

}
div.seatCharts-seat.available.first-class {
/* 	background: url(vip.png); */
	background-color: #3a78c3 !important;
}
div.seatCharts-seat.available.economy-class {
	background-color: #FF851B !important;
}
div.seatCharts-seat.available.business-class {
	background-color: #00d33b !important;
}
div.seatCharts-seat.available.blank-class {
/* 	background: url(vip.png); */
	background-color: white !important;
}
div.seatCharts-seat.focused {
	background-color: #76B474 !important;
}
div.seatCharts-seat.selected {
	background-color: #E6CAC4 !important;
}
div.seatCharts-seat.unavailable {
	background-color: #472B34 !important;
}
div.seatCharts-container {
	border-right: 1px dotted #adadad;
	width: 200px;
	padding: 20px;
	float: left;
}
div.seatCharts-legend {
	padding-left: 0px;
	position: absolute;
	bottom:175px;
	left: 200px;
	width: 200px;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
}
#addButton {
	display: inline-block !important;
}
#deleteButton {
	display: inline-block !important;
}
.configure-button {
	display: block;
	margin: 10px 0;
	font-size: 14px;
}
#selected-seats {
	max-height: 90px;
	overflow-y: scroll;
	overflow-x: none;
	width: 170px;
}